.datatable {
    table {
        width: 100%;
        border-collapse: collapse;

        tr {
            border-bottom: 1px var(--color-border1) solid;
            transition: 0.3s;
            &:last-child {border-bottom: none;}
            &:nth-child(even) {background-color: var(--color-bg-block1);}
            @media (hover: hover) and (pointer: fine) {&:not(:first-child):hover {background-color: rgba(255,255,255,0.05);}}
        }

        th {
            padding: 10px;
            text-align: left;
            font-weight: bold;
            color: var(--color-txt2);
            white-space: nowrap;
        }

        td {
            padding: 10px;
            .actions {display: flex; gap:15px;}
        }
    }
}

.datagrid {
    display: grid;
    gap: 15px;
    @media (min-width:0) {grid-template-columns: minmax(0, 1fr);}
    @media (min-width:780px) {grid-template-columns: repeat(2, minmax(0, 1fr));}

    .dg-item {
        background-color: var(--color-bg-block1);
        border:1px var(--color-border2) solid;
        border-radius: 15px;
        padding: 15px;

        .dgi-head {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;

            .dgi-actions {
                display: flex;
                gap:15px;
            }
        }

        .dgi-params {
            .dgi-param {
                margin-bottom: 15px;
                &:last-child {margin-bottom: 0;}

                .dgi-title {color: var(--color-txt2);}

                .dgi-value {
                    a {
                        color: var(--color-txt1);
                        text-decoration: underline;
                        @media (hover: hover) and (pointer: fine) {&:hover {color: var(--color-txt2);}}
                    }
                }
            }
        }
    }
}
