<div class="list-referees bscroll-v" [class.padded]="users?.length > 5" #container>
    <ng-container *ngIf="users === null">
        <div class="loading"><span>{{words['common']?.['loading']?.[lang.slug]}}</span></div>
    </ng-container>
    <ng-container *ngIf="users !== null">
        <ng-container *ngIf="!users.length">
            <span>{{words['common']?.['empty2']?.[lang.slug]}}</span>
        </ng-container>
        <ng-container *ngIf="users.length">
            <div *ngFor="let user of users" class="lr-item">
                <div class="lri-imgwrap">
                    <img *ngIf="user.img" [alt]="user.name" src="/images/users/{{user.img}}" loading="lazy">
                    <span *ngIf="!user.img">{{user.name?.[0]}}</span>
                </div>
                <div class="lri-details">
                    <div class="lri-name">{{user.name}}</div>
                    <div class="lri-date">{{user.created_at | date:"dd.MM.yyyy HH:mm"}}</div>
                </div>
            </div>
            <div class="loading" *ngIf="loadingMore"><span>{{words['common']?.['loading']?.[lang.slug]}}</span></div>
        </ng-container>
    </ng-container>    
</div>