.baxers {
    @media (min-width:0) {backdrop-filter: none; background-color: var(--color-bg-block1); padding: 15px;}
    @media (min-width:1000px) {backdrop-filter: blur(8px); background-color: transparent; padding: 30px;}
    position: fixed; z-index: 100; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; transition: 0.3s; display: flex; transform: translateX(100%); opacity: 0; 
    &.active {transform: none; opacity: 1;}
    .b-win {
        @media (min-width:0) {width: 100%;}
        @media (min-width:1000px) {width: 700px;}
        margin: auto; background-color: var(--color-bg-popup1); border-radius: 15px; border: 1px var(--color-border2) solid; overflow: hidden;
        .b-head {
            display: flex; justify-content: space-between; align-items: center; height: 45px; padding: 0 15px;
            .b-arrows {display: flex; gap: 15px;}            
        }
        .b-content {
            aspect-ratio: 16 / 9; position: relative;
            .b-img {
                position: absolute; left: 0; top: 0; width: 100%; height: 100%; opacity: 0; pointer-events: none; transition: 0.3s;
                &.active {opacity: 1; pointer-events: inherit;}
                img {width: 100%; height: 100%; object-fit: cover;}
            }
        }
        .b-foot {padding: 15px;}
    }
}
