<div class="popup-wrap" [class.active]="active">
    <div class="popup popup-password" id="popup-{{unique}}">
        <div class="popup-head">
            <div class="popup-headtitle">{{words['change-pw']?.['title']?.[lang.slug]}}</div>
            <div class="popup-close" (click)="onClose()"><span></span></div>
        </div>
        <div class="popup-main">
            <div class="popup-title">{{words['change-pw']?.['title']?.[lang.slug]}}</div>
            <div class="popup-content"> 
                <form class="gf" (submit)="onSubmit()">
                    <div class="gf-row">
                        <div class="gf-title">{{words['change-pw']?.['oldpassword']?.[lang.slug]}}</div>
                        <div class="gf-inputwrap"><input-password [(value)]="oldpassword" [error]="errors['oldpassword']"></input-password></div>
                        <div class="gf-error" *ngIf="errors['oldpassword']">{{words['errors']?.[errors['oldpassword']]?.[lang.slug]}}</div>
                    </div>
                    <div class="gf-row">
                        <div class="gf-title">{{words['change-pw']?.['newpassword']?.[lang.slug]}}</div>
                        <div class="gf-inputwrap"><input-password [(value)]="newpassword" [error]="errors['newpassword']"></input-password></div>
                        <div class="gf-error" *ngIf="errors['newpassword']">{{words['errors']?.[errors['newpassword']]?.[lang.slug]}}</div>
                    </div>
                    <div class="gf-row">
                        <div class="gf-title">{{words['change-pw']?.['newpassword2']?.[lang.slug]}}</div>
                        <div class="gf-inputwrap"><input-password [(value)]="newpassword2" [error]="errors['newpassword2']"></input-password></div>
                        <div class="gf-error" *ngIf="errors['newpassword2']">{{words['errors']?.[errors['newpassword2']]?.[lang.slug]}}</div>
                    </div>
                    <div class="gf-row">
                        <div class="gf-btnwrap">
                            <button type="submit" class="btn gold" [class.busy]="sending" [class.done]="done">
                                <span class="btn-icon save"></span>
                                <span class="btn-text">{{words["common"]?.["save"]?.[lang.slug]}}</span>
                                <span class="btn-done"><span>{{words["common"]?.["saved"]?.[lang.slug]}}</span></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>            
        </div>        
    </div>
</div>
