header {
  @media (min-width:0) {
    height: 60px;
  }

  @media (min-width:1200px) {
    height: 70px;
  }

  position: sticky;
  z-index: 10;
  top: 0;
  background: var(--gradient-bg);
  border-bottom: 1px var(--color-border2) solid;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;

  .h-left {
    @media (min-width:0) {
      left: 15px;
    }

    @media (min-width:1200px) {
      left: 30px;
    }

    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;

    .hl-logo {
      @media (min-width:0) {
        display: none;
      }

      @media (min-width:1200px) {
        display: block;
        padding-right: 15px;
      }

      @media (min-width:1600px) {
        display: block;
        padding-right: 30px;
      }

      img {
        height: 30px;
      }
    }

    .hl-lang {
      @media (min-width:0) {
        display: none;
      }

      @media (min-width:1200px) {
        display: flex;
        padding: 0 15px;
      }

      @media (min-width:1600px) {
        display: flex;
        padding: 0 30px;
      }

      height: 40px;
      align-items: center;
      border-left: 1px var(--color-border2) solid;
      position: relative;

      .hll-btn {
        text-transform: uppercase;
        cursor: pointer;
        color: var(--color-txt1);
        transition: 0.3s;

        @media (hover: hover) and (pointer: fine) {
          &:hover {
            color: var(--color-txt2);
          }
        }

        &::after {
          font-family: "fa-light";
          content: "\f078";
          display: inline-block;
          margin-left: 5px;
          transition: 0.3s;
        }

        &.active {
          color: var(--color-txt2);

          &::after {
            transform: scaleY(-1);
          }
        }
      }
    }

    .hl-mmbtn {
      @media (min-width:0) {
        display: block;
      }

      @media (min-width:1200px) {
        display: none;
      }

      cursor: pointer;
      font-size: 24px;
      transition: 0.3s;

      span::before {
        font-family: "fa-light";
        content: "\f0c9";
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          color: var(--color-txt2);
        }
      }
    }

    .hl-links {
      @media (min-width:0) {
        display: none;
      }

      @media (min-width:1200px) {
        display: flex;
        gap: 15px;
        padding: 0 15px;
      }

      @media (min-width:1600px) {
        display: flex;
        gap: 30px;
        padding: 0 30px;
      }

      align-items: center;
      border-left: 1px var(--color-border2) solid;
      height: 40px;

      img {
        height: 24px;
        display: block;
        opacity: 0.6;
        transition: 0.3s;

        @media (hover: hover) and (pointer: fine) {
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

  .h-right {
    @media (min-width:0) {
      right: 15px;
    }

    @media (min-width:1200px) {
      right: 30px;
    }

    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;

    .hr-btn {
      @media (min-width:0) {
        padding: 0;
        width: 30px;
        height: 30px;
        border-radius: 10px;
      }

      @media (min-width:1200px) {
        padding: 0 15px;
        width: auto;
        height: 30px;
        border-radius: 10px;
      }

      @media (min-width:1600px) {
        padding: 0 15px;
        width: auto;
        height: 40px;
        border-radius: 15px;
      }

      .btn-text {
        @media (min-width:0) {
          display: none;
        }

        @media (min-width:1200px) {
          display: inline;
        }
      }
    }

    .hr-ava {
      @media (min-width:0) {
        margin-left: 0;
      }

      @media (min-width:1200px) {
        margin-left: 12px;
      }

      @media (min-width:1600px) {
        margin-left: 27px;
      }

      width: 46px;
      height: 46px;
      border-radius: 50%;
      padding: 1px;
      border: 2px transparent solid;
      transition: 0.3s;
      position: relative;

      .hra-img {
        cursor: pointer;
        width: 100%;
        height: 100%;
        background-color: var(--color-border2);
        color: var(--color-txt2);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        text-transform: uppercase;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }

      &.active {
        border-color: var(--color-hilite2);
      }
    }

    .hr-dash {
      @media (min-width:0) {
        padding: 0 15px;
        border-right: none;
      }

      @media (min-width:1200px) {
        padding: 0 15px;
        border-right: 1px var(--color-border2) solid;
      }

      @media (min-width:1600px) {
        padding: 0 30px;
        border-right: 1px var(--color-border2) solid;
      }

      display: flex;
      height: 40px;
      align-items: center;

      .hrd-btnwrap {
        @media (min-width:0) {
          margin-left: 15px;
          ;
        }

        @media (min-width:1600px) {
          margin-left: 30px;
        }

        &:first-child {
          margin-left: 0;
        }

        position: relative;

        .hrd-btn {
          @media (min-width:0) {
            font-size: 20px;
          }

          @media (min-width:1600px) {
            font-size: 22px;
          }

          cursor: pointer;
          position: relative;

          span::before {
            font-family: "fa-light";
            transition: 0.3s;
          }

          &.hrd-favorites {
            span::before {
              content: "\f004";
            }
          }

          &.hrd-cart {
            span::before {
              content: "\f07a";
            }
          }

          &.hrd-unviewed {
            span::before {
              content: "\f0f3";
            }
          }

          @media (hover: hover) and (pointer: fine) {
            &:hover {
              span::before {
                color: var(--color-txt2);
              }
            }
          }

          &.active {
            span::before {
              color: var(--color-hilite2);
              font-family: "fa-solid";
            }
          }

          .quantity {
            position: absolute;
            left: calc(100% - 10px);
            top: -3px;
            height: 14px;
            min-width: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 3px;
            border-radius: 5px;
            background-color: var(--color-alert1);
            font-size: 10px;
            color: var(--color-txt2);
          }
        }
      }

      .hrd-money {
        @media (min-width:0) {
          margin-left: 15px;
        }

        @media (min-width:1600px) {
          margin-left: 30px;
        }

        position: relative;

        .hrd-amount {
          border: 1px var(--color-border2) solid;
          border-radius: 15px;
          height: 40px;
          padding: 0 15px;
          display: flex;
          align-items: center;
          cursor: pointer;
          background-color: var(--color-input-bg1);
          transition: 0.3s;

          span {
            @media (min-width:0) {
              font-size: 12px;
            }

            @media (min-width:1600px) {
              font-size: 14px;
            }
          }

          @media (hover: hover) and (pointer: fine) {
            &:hover {
              color: var(--color-txt2);
            }
          }

          &.active {
            border-color: var(--color-hilite2);
            color: var(--color-txt2);
          }
        }
      }
    }
  }

  .h-center {
    height: 100%;
    display: flex;
    align-items: center;

    nav {
      @media (min-width:0) {
        display: none;
      }

      @media (min-width:1200px) {
        display: block;
      }

      height: 100%;

      ul {
        display: flex;
        height: 100%;

        li {
          height: 100%;

          a {
            @media (min-width:0) {
              padding: 0 15px;
            }

            @media (min-width:1600px) {
              padding: 0 30px;
            }

            display: flex;
            height: 100%;
            align-items: center;
            transition: 0.3s;
            position: relative;
            font-size: 16px;
            color: var(--color-txt1);

            &::after {
              display: block;
              content: "";
              position: absolute;
              left: 0;
              top: 100%;
              width: 100%;
              height: 1px;
              background-image: var(--gradient-hilite);
              opacity: 0;
              transition: 0.5s;
            }

            @media (hover: hover) and (pointer: fine) {
              &:hover {
                color: var(--color-txt2);
              }
            }

            &.active {
              background-image: var(--gradient-hilite);
              background-clip: text;
              -webkit-text-fill-color: transparent;
              color: var(--color-hilite1);

              &::after {
                opacity: 1;
              }
            }
          }
        }
      }
    }

    .hc-logo {
      @media (min-width:0) {
        display: block;
      }

      @media (min-width:1200px) {
        display: none;
      }

      img {
        height: 24px;
      }
    }
  }
}

.hl-links a {
  &.hl-link {
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 2px;
    width: 24px;
    height: 24px;
    opacity: 0.6;
    transition: 0.3s;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        opacity: 1;
      }
    }

    &.tw::before {
      width: 15px;
      height: 15px;
      font-family: "fa-brands";
      content: "\e61b";
    }
  }

  &.mail {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    opacity: 0.6;
    transition: 0.3s;
    margin-left: 4px;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        opacity: 1;
      }
    }

    &::before {
      display: block;
      transform: scale(1.4);
      font-family: "fa-solid";
      content: "\f0e0";
    }
  }
}