.hc {
    display: flex; align-items: center;
    .hc-checkbox {
        width: 30px; height: 30px; margin-right: 15px; cursor: pointer; background-color: var(--color-input-bg1); border:1px var(--color-border2) solid; display: flex; justify-content: center; align-items: center;
        span::before {font-family: "fa-light"; font-size: 16px;}
        &.error {border-color: var(--color-alert1);}
        &.checked {
            pointer-events: none;
            span::before {content: "\f00c";}
        }
        &.busy {
            pointer-events: none;
            span::before {content: "\f3f4" !important; display: inline-block; animation: rotation 1s linear 0s infinite;}
        } 
    }  
    .hc-title {font-size: 14px;}
}