<div class="select-component">
    <div class="sc-value" id="sc-value-{{unique}}" [class.active]="active" [class.disabled]="disabled" [class.error]="error" (click)="onToggle()">
        <ng-container *ngIf="!currentValue">
            <div class="sc-title">{{words['common']?.['empty3']?.[lang.slug]}}</div>
        </ng-container>
        <ng-container *ngIf="currentValue">
            <ng-container *ngIf="!currentItem">
                <div class="sc-title">{{words['common']?.['loading']?.[lang.slug]}}</div>
            </ng-container>                        
            <ng-container *ngIf="currentItem">
                <div class="sc-imgwrap">
                    <img *ngIf="currentItem.img" src="/images/users/{{currentItem.img}}">
                    <span *ngIf="!currentItem.img">{{currentItem.name[0]}}</span>
                </div>
                <div class="sc-title">{{currentItem.name}}</div>
            </ng-container>            
        </ng-container>
    </div>    
    <div class="sc-items" [class.active]="active" id="sc-items-{{unique}}">
        <div class="sci-content bscroll-v" #container>
            <ng-container *ngIf="items === null">
                <div class="sci-item inactive"><div class="loading"><span>{{words['common']?.['loading']?.[lang.slug]}}</span></div></div>                
            </ng-container>            
            <ng-container *ngIf="items !== null">
                <div *ngFor="let item of items" class="sci-item" [class.active]="item.id === currentValue" (click)="onSelect(item)">
                    <div class="scii-imgwrap">
                        <img *ngIf="item.img" src="/images/users/{{item.img}}">
                        <span *ngIf="!item.img">{{item.name[0]}}</span>
                    </div>
                    <div class="scii-title"><span>{{item.name}}</span></div>
                </div>
                <div class="sci-item inactive" *ngIf="loadingMore"><div class="loading"><span>{{words['common']?.['loading']?.[lang.slug]}}</span></div></div>
            </ng-container>
        </div>        
    </div>
</div>
