.ip-wrap {
    position: relative; width: 100%; height: 100%;
    input {padding-inline-end: 45px; width: 100%; height: 100%;}
    .ip-btn {
        position: absolute; left: auto; right: 15px; top:50%; transform: translateY(-50%); cursor: pointer; color: var(--color-txt1); transition: 0.3s;    
        @media (hover: hover) and (pointer: fine) {&:hover {color: var(--color-txt2);}}
        span::before {font-family: "fa-light"; font-size: 16px;}
        &.show {span::before {content: "\f06e";}}
        &.hide {span::before {content: "\f070";}}
    }
}
