.article {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-bg-block1);
  border: 1px var(--color-border2) solid;
  border-radius: 15px;
  padding: 15px;
  color: var(--color-txt1);
  height: 100%;
  user-select: none;

  // .a-content {
  //   figure.m_column {
  //     margin: 10px 0;
  //   }
  // }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--color-txt1);
      border-color: var(--color-hilite2);
    }
  }

  .a-imgwrap {
    @media (min-width:0) {
      width: 90px;
      height: 90px;
    }

    @media (min-width:780px) {
      width: 120px;
      height: 120px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 15px;
    }
  }

  .a-details {
    @media (min-width:0) {
      width: calc(100% - 90px - 15px);
      height: 90px;
    }

    @media (min-width:780px) {
      width: calc(100% - 120px - 15px);
      height: 120px;
    }

    display: flex;
    flex-direction: column;

    &.wide {
      width: 100%;
    }

    .a-txt {
      flex: 1;

      .a-name {
        @media (min-width:0) {
          font-size: 14px;
          margin-bottom: 5px;
        }

        @media (min-width:780px) {
          font-size: 18px;
          margin-bottom: 10px;
        }

        font-weight: bold;
        color: var(--color-txt2);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .a-content {
        @media (min-width:0) {
          font-size: 12px;
          line-height: 16px;
          max-height: 32px;
        }

        @media (min-width:780px) {
          font-size: 14px;
          line-height: 18px;
          max-height: 36px;
        }

        overflow: hidden;
      }
    }

    .a-dash {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .a-time {
        @media (min-width:0) {
          height: 26px;
          border-radius: 8px;
          padding: 0 5px;
        }

        @media (min-width:780px) {
          height: 30px;
          border-radius: 12px;
          padding: 0 10px;
        }

        background-color: var(--color-input-bg2);
        color: var(--color-txt2);
        display: flex;
        align-items: center;

        span {
          @media (min-width:0) {
            font-size: 11px;
          }

          @media (min-width:780px) {
            font-size: 13px;
          }

          white-space: nowrap;

          &::before {
            font-family: "fa-light";
            content: "\f017";
            display: inline-block;
            margin-right: 5px;
          }
        }
      }

      .a-wasread {
        @media (min-width:0) {
          width: 26px;
          min-width: 26px;
          height: 26px;
        }

        @media (min-width:780px) {
          width: 30px;
          min-width: 30px;
          height: 30px;
        }
      }
    }
  }
}