<h1>{{words["register-sub"]?.["title"]?.[lang.slug]}}</h1>
<div [class.loading]="found === null"><span>{{words['register-sub']?.['user-loading']?.[lang.slug]}}</span></div>
<div *ngIf="found === true"><span>{{words['register-sub']?.['user-found']?.[lang.slug]}}</span></div>
<div *ngIf="found === false"><span>{{words['register-sub']?.['user-notfound']?.[lang.slug]}}</span></div>
<div *ngIf="children_exhausted === true"><span>{{words['register-sub']?.['children-exhausted']?.[lang.slug]}}</span></div>
