<a class="shopitem" (click)="handleOpenShopitem($event)">
  <div class="s-imgwrap" *ngIf="shopitem.img">
    <img
      src="/images/shopitems/{{ shopitem.img }}"
      loading="lazy"
      [alt]="shopitem.name[lang.slug]"
    />
  </div>
  <div class="s-details" [class.wide]="!shopitem.img">
    <div class="s-name">{{ shopitem.name[lang.slug] }}</div>
    <div class="s-content">{{ shopitem.contentshort[lang.slug] }}</div>
    <div class="s-price" *ngIf="shopitem.price">
      <img src="/assets/images/usdc.png" />
      <span
        *ngIf="shopitem.discount && isDgTeam"
        style="text-decoration: line-through"
        >${{ shopitem.price }}</span
      >
      <span>${{ calculatedPrice }}</span>
    </div>
  </div>
</a>
