.popup.popup-completions {
    @media (min-width:0) {width: 300px;}
    @media (min-width:1000px) {width: 800px !important;}
    .completions {
        .c-completion {
            margin-bottom: 15px;
            &:last-child {margin-bottom: 0;}
            .cc-info {
                margin-bottom: 10px;
                .cc-namewallet {
                    @media (min-width:0) {font-size: 14px;}
                    @media (min-width:1000px) {font-size: 16px;}
                    color: var(--color-txt2); font-weight: 600px; display: flex; flex-wrap: wrap;
                    .gc-name {margin-right: 5px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
                    .gc-wallet {white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
                }
                .cc-progress {white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 12px;}
            }
            .cc-tasks {
                flex:1; display: flex; gap: 5px; flex-wrap: wrap; user-select: none;
                .cc-task {
                    width: 24px; height: 24px; border-radius: 50%; border:1px var(--color-border2) solid; font-size: 11px; display: flex; justify-content: center; align-items: center; color: var(--color-txt1); background-color: var(--color-input-bg2);
                    @media (hover: hover) and (pointer: fine) {&:hover {color: var(--color-txt2);}}
                    &.active {
                        background: var(--gradient-hilite); color: var(--color-btn1);
                        @media (hover: hover) and (pointer: fine) {&:hover {text-shadow: 1px 0 0 var(--color-btn1);}}
                    }
                }
            }
        }
    }
}
