.btn-completion {
    @media (min-width:0) {width: 26px; min-width: 26px; height: 26px;}
    @media (min-width:780px) {width: 30px; min-width: 30px; height: 30px;}  
    display: flex; justify-content: center; align-items: center; background-color: var(--color-input-bg2); border-radius: 50%; border:1px var(--color-border2) solid; cursor: pointer; position: relative; user-select: none;
    &::after {position: absolute; left: 0; top:0; display: block; width: 100%; height: 100%; border-radius: 50%; background: var(--gradient-hilite); transition: 0.3s; opacity: 0; content: "";}
    span {position: absolute; z-index: 2; left: 0; top:0; display: flex; width: 100%; height: 100%; justify-content: center; align-items: center; font-size: 16px;}
    &.active {
        &::after {opacity: 1;}
        span::before {font-family: "fa-solid"; content: "\f00c"; color: var(--color-btn1);}
    }
    &.busy {
        pointer-events: none;
        span::before {font-family: "fa-light"; content: "\f3f4"; animation: rotation 1s linear 0s infinite;}                        
    }            
}