.list-artcats {
    border: 1px var(--color-border2) solid; border-radius: 15px; padding: 7px 15px; min-height: 45px; display: flex; align-items: center;
    ul {
        list-style: none; padding: 0; margin: 0; display: flex; flex-wrap: wrap; gap: 5px 15px;
        li {
            &:last-child {border-right: none;}
            a {
                display: flex; align-items: center; white-space: nowrap; color: var(--color-txt1); 
                @media (hover: hover) and (pointer: fine) {&:hover {color: var(--color-txt2);}}
                &.active {background-image: var(--gradient-hilite); background-clip: text; -webkit-text-fill-color: transparent; color: var(--color-hilite2); pointer-events: none;}
            }
        }
    }
}