.profile-referees {
  .pr-reward {
    @media (min-width:0) {
      display: block;
    }

    @media (min-width:1000px) {
      display: flex;
    }

    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    .prr-title {
      font-weight: 600;
      color: var(--color-txt2);
    }

    .prr-info {
      @media (min-width:0) {
        margin: 0 0 5px 0;
      }

      @media (min-width:1000px) {
        margin: 0 15px 0 0;
      }
    }

    .prr-inputwrap {
      @media (min-width:0) {
        width: 100%;
        min-width: 100%;
      }

      @media (min-width:1000px) {
        width: 200px;
        min-width: 200px;
      }

      height: 45px;

      input {
        width: 100%;
        height: 100%;
      }
    }
  }

  .pr-referees {
    .prr-title {
      margin-bottom: 15px;
      font-weight: 600;
      color: var(--color-txt2);
    }
  }

  .question-circle {
    display: inline-block;
    padding: 0;
    width: 25px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    text-align: center;
  }
}